@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@500&display=swap');

.header {
  padding: 1rem 4rem;
  /* box-shadow: 0 4px 3px -3px rgba(0, 0, 0, .08); */
  background-color: #050330;

}

.header nav {
  display: flex;
  justify-content: space-between;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  left: 0;
  background: #050330;
  z-index: 1000;
  cursor: pointer;
}

.header .logo img {
  width: 23rem;
  cursor: pointer;
}

.header .brand-name {
  font-size: 20px;
  cursor: pointer;
  font-weight: bolder;
  padding: 5px;
  width: max-content;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
}

.header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px !important;
}

.header nav ul li {
  display: inline-flex;
  margin: 0px 15px;
}

.header nav ul li span {
  color: white;
}

.header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 23px;
  transition: 0.1s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header nav ul li a.active {
  border-bottom: 2.5px solid #ffffff;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: #ffcb00;
}


.header nav ul li a::after {
  content: '';
  width: 0;
  height: 2.5px;
  background: #ffcb00;
  display: block;
  transition: 0.2s linear;
}

.header nav ul li a.active::after {
  display: none;
}

.header nav ul li a:hover::after {
  width: 100%;
}

.header nav .icon {
  i {
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .searchBox {
    outline: #000;
    padding: 5px;
  }
}

.icon {
  display: flex;
  align-items: center;

  input {
    outline: none;
  }
}

.header .logo-menu-div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.fa-magnifying-glass {
  margin-left: 1.5rem !important;
}

.fa-xmark {
  font-size: 22px !important;
  padding-left: 10px;
}

nav .menu-btn i {
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 950px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    color: white;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked~ul {
    left: 0;
    padding-left: 0px;
    text-align: center;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: -50px;
    border-bottom: 0;
  }

  #click:checked~ul li a:hover {
    color: #ffcb00;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: black;
  }

  .header nav ul li a.active {
    border-bottom: 0;
    padding: 1rem;
  }

  .header nav ul li {
    display: inline-block;
    margin: 15px 50px;
  }
}

@media (max-width : '600px') {
  .header .logo img {
    width: 16rem;
  }
}

/*////////////// react css added /////////////// */
.box-1 {
  background-color: #050330;
  display: flex;
}

.slot-1 {
  padding: 4rem;
  width: 50%;

  .btn {}
}

.slot-1-text {
  color: #3DFAFF;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3rem;
}

.two {
  color: #61EFB4;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -1rem;
  padding: -1rem;
}

.wrapper .static-txt {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  background-color: blue;
  padding: 0px 1rem;
  border-radius: 5pz;
  font-family: Montserrat;
}

.wrapper .dynamic-txts {
  height: 100px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #050330;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
  padding: 5px;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.box-2 {
  background-color: #050330;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .slot-1,
  .slot-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
  }

  .slot-2 {
    width: 33.33%;
  }
}